$-primary-color: #1e80ff;

#juejin-live2d-config {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.24);
  z-index: 9999999;
  user-select: none;
  font-size: 12px;
  overflow: hidden;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  > div {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    max-width: 640px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);

    h2 {
      padding-bottom: 16px;
      border-bottom: 1px solid #d7dfe8;
      margin-bottom: 24px;
      line-height: 24px;

      span:last-child {
        cursor: pointer;
        font-weight: normal;
        font-size: 24px;
        color: #999;
      }
    }

    .loading {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      backdrop-filter: blur(12px);
      background-color: rgba(255, 255, 255, 0.36);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $-primary-color;
    }

    button {
      height: 32px;
      min-width: 100px;
      white-space: nowrap;
      background-color: $-primary-color;
      border-radius: 0;
      color: white;
      border: none;
      outline: none;
    }

    input[type=checkbox] {
      width: 12px;
      height: 12px;
      appearance: none;
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
      }

      &:before {
        width: 12px;
        height: 12px;
        top: 0;
        left: 0;
        border: 1px solid #d7dfe8;
      }

      &:checked {
        &:before {
          border-color: $-primary-color;
          background-color: $-primary-color;
        }

        &:after {
          transform: rotate(-45deg);
          border-bottom: 2px solid white;
          border-left: 2px solid white;
          width: 6px;
          height: 3px;
          top: 4px;
          left: 3px;
        }
      }
    }

    input[type=radio] {
      width: 16px;
      height: 16px;

      &:checked {
        border-color: $-primary-color;
        background-color: $-primary-color;
      }
    }

    input[type=text], input[type=number] {
      height: 32px;
      line-height: 32px;
      padding: 0 12px;
      outline: none;
      border: 2px solid #d7dfe8;
      border-radius: 0;

      &:focus {
        border-color: $-primary-color;
      }
    }

    .f {
      display: flex;
    }

    .f1 {
      flex: 1;
    }

    .f2 {
      flex: 2;
    }

    .ai-c {
      align-items: center;
    }

    .ai-fs {
      align-items: flex-start;
    }

    .jc-c {
      justify-content: center;
    }

    .fw-w {
      flex-wrap: wrap;
    }

    .fw-nw {
      flex-wrap: nowrap;
    }

    .mw64 {
      min-width: 64px;
    }

    .mb-16 {
      margin-bottom: 16px;
    }

    .mb-8 {
      margin-bottom: 8px;
    }

    .mr-8 {
      margin-right: 8px;
    }

    .mr-12 {
      margin-right: 12px;
    }

    .mr-4 {
      margin-right: 4px;
    }
  }
}

#juejin-live2d-canvas {
  position: fixed;
  left: 0;
  top: 0;
  cursor: grab;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, .08));
  transition: transform .3s;
  z-index: 99999;
  box-sizing: border-box;
}

#juejin-live2d-widget {
  position: fixed;
  left: 24px;
  bottom: 24px;
  width: 240px;
  z-index: 9999999;

  > input {
    width: 100%;
    padding: 0 12px;
    outline: none;
    border: none;
    height: 32px;
    line-height: 32px;
    border-radius: 12px;
    animation: live2d-msgbox-shake 78s ease-in-out 5s infinite;
    box-sizing: border-box;
    transition: all .3s;
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;

    .jlp-msg {
      margin-bottom: 16px;
      transition: all .3s;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
      background: white;
      padding: 6px 10px;
      font-size: 12px;
      border-radius: 12px;
      color: #666;
      animation: live2d-msgbox-shake 84s ease-in-out 5s infinite;
      text-align: justify;
    }

    .jlp-l-msg {
      align-self: flex-start;
      border-bottom-left-radius: 0;
      background-color: $-primary-color;
      color: white;
    }

    .jlp-r-msg {
      align-self: flex-end;
      border-bottom-right-radius: 0;
    }
  }
}

#juejin-live2d-msgbox {
  border-radius: 12px;
  color: #666;
  animation: live2d-msgbox-shake 90s ease-in-out 5s infinite;
  box-sizing: border-box;
  transition: all .3s;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  font-size: 0;
  cursor: pointer;
  margin-bottom: 16px;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .smsg {
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    max-height: 144px;
    font-size: 12px;
    box-sizing: border-box;
  }

  .stat {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;

    > div {
      width: 50%;
      margin-bottom: 8px;

      p {
        &:nth-child(1) {
          font-size: 13px;
          color: #333;
          margin-bottom: 4px;
        }

        &:nth-child(2) {
          font-weight: bold;
          color: #1d7dfa;
        }

        &:nth-child(3) {
          color: #666;
          font-size: 10px;

          span {
            &.i {
              color: red;
            }

            &.d {
              color: #ff7d00;
            }

            &.n {
              color: #1d7dfa;
            }
          }
        }
      }
    }

    > p {
      width: 100%;
      border-top: 1px solid #f4f5f5;
      padding-top: 8px;
    }

    h3 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #f4f5f5;
    }

  }
}

@keyframes live2d-msgbox-shake {
  2% {
    transform: translate3d(.5px, -1.5px, 0) rotate(-.5deg);
    box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
  }

  4% {
    transform: translate3d(.5px, 1.5px, 0) rotate(1.5deg);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  }

  6% {
    transform: translate3d(1.5px, 1.5px, 0) rotate(1.5deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .08);
  }

  8% {
    transform: translate3d(2.5px, 1.5px, 0) rotate(.5deg);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  }

  10% {
    transform: translate3d(.5px, 2.5px, 0) rotate(.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  12% {
    transform: translate3d(1.5px, 1.5px, 0) rotate(.5deg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  }

  14% {
    transform: translate3d(.5px, .5px, 0) rotate(.5deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }

  16% {
    transform: translate3d(-1.5px, -.5px, 0) rotate(1.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  18% {
    transform: translate3d(.5px, .5px, 0) rotate(1.5deg);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  }

  20% {
    transform: translate3d(2.5px, 2.5px, 0) rotate(1.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  22% {
    transform: translate3d(.5px, -1.5px, 0) rotate(1.5deg);
    box-shadow: 2px 1px 3px rgba(0, 0, 0, .1);
  }

  24% {
    transform: translate3d(-1.5px, 1.5px, 0) rotate(-.5deg);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  }

  26% {
    transform: translate3d(1.5px, .5px, 0) rotate(1.5deg);
    box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
  }

  28% {
    transform: translate3d(-.5px, -.5px, 0) rotate(-.5deg);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .1);
  }

  30% {
    transform: translate3d(1.5px, -.5px, 0) rotate(-.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  32% {
    transform: translate3d(2.5px, -1.5px, 0) rotate(1.5deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }

  34% {
    transform: translate3d(2.5px, 2.5px, 0) rotate(-.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  36% {
    transform: translate3d(.5px, -1.5px, 0) rotate(.5deg);
    box-shadow: 3px 1px 3px rgba(0, 0, 0, .1);
  }

  38% {
    transform: translate3d(2.5px, -.5px, 0) rotate(-.5deg);
    box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
  }

  40% {
    transform: translate3d(-.5px, 2.5px, 0) rotate(.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  42% {
    transform: translate3d(-1.5px, 2.5px, 0) rotate(.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  44% {
    transform: translate3d(-1.5px, 1.5px, 0) rotate(.5deg);
    box-shadow: 3px 1px 3px rgba(0, 0, 0, .1);
  }

  46% {
    transform: translate3d(1.5px, -.5px, 0) rotate(-.5deg);
    box-shadow: 2px 1px 3px rgba(0, 0, 0, .1);
  }

  48% {
    transform: translate3d(2.5px, -.5px, 0) rotate(.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  50% {
    transform: translate3d(-1.5px, 1.5px, 0) rotate(.5deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }

  52% {
    transform: translate3d(-.5px, 1.5px, 0) rotate(.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  54% {
    transform: translate3d(-1.5px, 1.5px, 0) rotate(.5deg);
    box-shadow: 2px 1px 3px rgba(0, 0, 0, .1);
  }

  56% {
    transform: translate3d(.5px, 2.5px, 0) rotate(1.5deg);
    box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
  }

  58% {
    transform: translate3d(2.5px, 2.5px, 0) rotate(.5deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }

  60% {
    transform: translate3d(2.5px, -1.5px, 0) rotate(1.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  62% {
    transform: translate3d(-1.5px, .5px, 0) rotate(1.5deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }

  64% {
    transform: translate3d(-1.5px, 1.5px, 0) rotate(1.5deg);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
  }

  66% {
    transform: translate3d(.5px, 2.5px, 0) rotate(1.5deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }

  68% {
    transform: translate3d(2.5px, -1.5px, 0) rotate(1.5deg);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
  }

  70% {
    transform: translate3d(2.5px, 2.5px, 0) rotate(.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  72% {
    transform: translate3d(-.5px, -1.5px, 0) rotate(1.5deg);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  }

  74% {
    transform: translate3d(-1.5px, 2.5px, 0) rotate(1.5deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }

  76% {
    transform: translate3d(-1.5px, 2.5px, 0) rotate(1.5deg);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .1);
  }

  78% {
    transform: translate3d(-1.5px, 2.5px, 0) rotate(.5deg);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }

  80% {
    transform: translate3d(-1.5px, .5px, 0) rotate(-.5deg);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
  }

  82% {
    transform: translate3d(-1.5px, .5px, 0) rotate(-.5deg);
    box-shadow: 2px 1px 3px rgba(0, 0, 0, .1);
  }

  84% {
    transform: translate3d(-.5px, .5px, 0) rotate(1.5deg);
    box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
  }

  86% {
    transform: translate3d(2.5px, 1.5px, 0) rotate(.5deg);
    box-shadow: 2px 1px 4px rgba(0, 0, 0, .1);
  }

  88% {
    transform: translate3d(-1.5px, .5px, 0) rotate(1.5deg);
    box-shadow: 1px 0 5px rgba(0, 0, 0, .1);
  }

  90% {
    transform: translate3d(-1.5px, -.5px, 0) rotate(-.5deg);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
  }

  92% {
    transform: translate3d(-1.5px, -1.5px, 0) rotate(1.5deg);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  }

  94% {
    transform: translate3d(.5px, .5px, 0) rotate(-.5deg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }

  96% {
    transform: translate3d(2.5px, -.5px, 0) rotate(-.5deg);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
  }

  98% {
    transform: translate3d(-1.5px, -1.5px, 0) rotate(-.5deg);
    box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
  }

  0%, 100% {
    transform: translate3d(0, 0, 0) rotate(0);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  }
}
